*{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}
/* width */
body::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
body::-webkit-scrollbar-track {
    background: #FFBF00; 
    border-radius: 10px;
}
   
  /* Handle */
body::-webkit-scrollbar-thumb {
    background: #E83F6F; 
    border-radius: 10px;
}
  
  /* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: rgb(94, 94, 245) ; 
}

header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0A81D1;
    border-bottom: black solid 5px;
}

h1{
    padding: 15px auto 0;
    font-size: 2em;
    text-align: center;
    color: black;
    font-weight: 500;
}

main{
    min-height: 80vh;
    background-color: #0CA5DA;
}

dev{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 40px auto;
    justify-content: center;
}
#text1{
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-weight: 300;
    width: 340px;
    margin : 25px auto 15px;
    outline: none;
    padding: 40px auto;
    border: solid black 2px;
}
#text1::placeholder{
    font-weight: 100;
    color: #565756;
}
#button1{
    width: 150px;
    font-size: 20px;
    border-radius: 15px;
    padding: 40px auto;
    margin : 15px auto;
    border: 2px solid black;
}
#button1:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
#Result{
    height: 70px;
    border: solid black 5px;
    width: 250px;
    margin: 150px auto 0px;
}
h3{
    color: black;
    text-align: center;    
}
p{
    color: black;
    text-align: center; 
    font-weight: 400;
}
#lastText{
    margin: 150px auto 0;
    font-weight: 700;
    color: black;
}

footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A81D1;
    border-top: black solid 5px;
}
h2{
    font-size: 1.5em;
    text-align: center;
    color: black;
    font-weight: 700;
}